/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 300vh;
  width: 100%;
  padding: 10px;
  font-weight: 300;
  line-height: 1.75em;
  background: linear-gradient(45deg, gray, blue, white);
  background-repeat: no-repeat;
  background-size: cover;
}
html html,
body html {
  font-size: 62.5%;
}
html .container,
body .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
html .navigation,
body .navigation {
  height: 100vh;
  width: 12%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  border: 1px dotted black;
  position: fixed;
  padding-left: 2rem;
  background: #47f9ff;
}
html .navigation nav,
body .navigation nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
}
@media only screen and (max width: 600px) {
  html .navigation nav,
  body .navigation nav {
    flex-direction: row;
    width: 100vw;
    height: 5vh;
  }
}
html .navigation a,
body .navigation a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  align-items: center;
  border: 2px solid red;
}
@media only screen and (max width: 600px) {
  html .navigation a,
  body .navigation a {
    font-size: 1.5rem;
    align-items: center;
  }
}
html .top,
body .top {
  display: flex;
  height: 30rem;
  width: 50%;
  padding: 1.4rem;
  margin: 0 auto;
  background: lightblue;
  align-items: left;
}
html header,
body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html header img,
body header img {
  padding-top: 3rem;
  padding-bottom: 12rem;
  height: auto;
  width: 30%;
  text-align: flex-start;
}
html header div,
body header div {
  display: flex;
  padding-top: 5rem;
  padding-left: 1.5rem;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
html header h1,
body header h1 {
  font-size: 2rem;
}
html header p,
body header p {
  padding-top: 3rem;
}
html .middle,
body .middle {
  width: 50%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: teal;
  font-size: 1.8rem;
}
html .middle .part_a,
body .middle .part_a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40%;
  width: 100%;
  text-align: left;
}
html .middle .part_a .skills,
body .middle .part_a .skills {
  padding: 2rem;
}
html .middle .part_a .skills h2,
body .middle .part_a .skills h2 {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 1px solid gray;
  text-align: center;
}
html .middle .part_a .skills p,
body .middle .part_a .skills p {
  padding-top: 3rem;
}
html .middle .part_a .school,
body .middle .part_a .school {
  padding: 2rem;
}
html .middle .part_a .school h2,
body .middle .part_a .school h2 {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 1px solid gray;
  text-align: center;
}
html .middle .part_a .school p,
body .middle .part_a .school p {
  padding-top: 2rem;
}
html .middle .part_b,
body .middle .part_b {
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40%;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
}
html .middle .past,
body .middle .past {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-items: center;
  flex-direction: column;
}
html .middle .past h2,
body .middle .past h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
html .middle .past th,
body .middle .past th {
  border: 1px solid black;
}
html .middle .past td,
body .middle .past td {
  border: 1px solid black;
}
html .middle .past tr,
body .middle .past tr {
  border: 1px solid black;
}
html .middle .past .one,
body .middle .past .one {
  background: lightcyan;
}
html .middle .past #two,
body .middle .past #two {
  font-weight: 500;
}
