// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
//mix ins
.flex(){
	display: flex;
}
//variables
@flex 

html, body {
	height: 100%;
	width: 100%;
	padding: 10px;
	font-weight: 300;
	line-height: 1.75em;
}
html {
	font-size: 62.5%;
}
body {
	background: black;
}
.container {
	width: 90%;
	background: rgb(42, 72, 102);
	margin: 0 auto;
}
.navigation {
	width:100vw;
	height: 3.5rem;
	.flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: slategray;
	position: fixed;

	nav {
		.flex;
		justify-content: space-evenly;
		align-content: center;
		padding-bottom: 2rem;
		flex-direction: row;

	}

	a {
		text-decoration: none;
		color: white;
		font-weight: 400;
		font-size: 2.4rem;
		padding: 2rem;
		align-items: flex-start;
	}


}
.top {
	.flex;
	height: 50vh;
	width: 40%;
	padding: 1.4rem;
	margin: 0 auto;
	background: lightblue;
	align-items: left; 

	img {
		padding-top:3rem;
		height: 40%;
		width: 20%;
		text-align: flex-start
	}
	div {
		padding-top: 5rem;
	}
	h1 {
		font-size:2rem;
		
	}
	p {
		padding-top: 3rem;
	}
}

.middle {
	width: 100%;
	height: 50rem;
	.flex;
	flex-direction: column;
	margin: 0 auto;
	background: teal;
	font-size: 1.8rem;
	

	.part_a{
		.flex;
		flex-direction: row;
		justify-content: space-between;
		height: 40%;
		width: 100%;

	}
}

.footer {

}